.navbar {
  border-bottom: 0px;
}

.my-link {
  justify-content: end;
  width: 100%;
}

.btn-masuk {
  background-color: #d3d6d9;
  padding: 0 25px;
}

.btn-daftar {
  background-color: #70bdfc;
  padding: 0 25px;
}

.jumbotron {
  background-color: #ffcd29;
  text-align: center;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.hero {
  background-image: url(../images/hero.png);
  height: 25em;
  background-position: center;
  background-repeat: no-repeat;
}

.hero a {
  inset: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  position: absolute;
  bottom: -70%;
}

.container-content {
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
}

.card {
  margin: 30px 5px;
}
