*,
.container-fluid {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

nav {
  border-bottom: 1px solid black;
}

main {
  width: 80%;
  margin: auto;
}
