*,
.container-fluid {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

nav {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}

main {
  width: 80%;
  margin: auto;
}

.navbar {
  border-bottom: 0px;
}

.my-link {
  justify-content: end;
  width: 100%;
}
